*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav.Linkdin{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}
.logo{
    width: 30px;
    height: 30px;

}
.usernav{
    width: 30px;
    height: 30px;
}
.leftnav{
padding: 7px;
}
.middlenav{

}
.listnav{
list-style-type: none;
display: inline-block;
}
.listitem{
    display: inline;
    padding: 15px;
    margin-right: 10px;
}
.listlink:link{
    font-size: x-large;
    color: gray;
}
.listlink:hover{
    color: aqua;
    border-bottom: 2px solid black;
}
.listlink:active{}
.listlink:visited{
    color: gray;
}
.active{
    color: black !important;
}
.notify{
    background-color: red;
    color: black;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 15px;
}
.rightnav{
border-left: 1px solid black;
padding-left: 7px;
}

.rightul{
    margin-bottom: 25px;
}